.* export-ignore
/Dockerfile export-ignore
/README.md export-ignore
/env export-ignore
/install-python-env.sh export-ignore
/run-tests export-ignore
/run-tests.bat export-ignore
/test export-ignore
/test-requirements.txt export-ignore
/tox.ini export-ignore
